interactions:
- request:
    body: !!python/unicode '{"note": "", "ref_url": "https://rpm-factory-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/test-package-sanity-development/label=ose-slave-tps,provision_arch=x86_64/734/",
      "testcase": {"ref_url": "https://rpm-factory-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/test-package-sanity-development/label=ose-slave-tps,provision_arch=x86_64/",
      "name": "rpm-factory.tps.update"}, "groups": [{"ref_url": "https://rpm-factory-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/test-package-sanity-development/label=ose-slave-tps,provision_arch=x86_64/734/",
      "uuid": "ad9a50f4-d66a-4840-8441-7250af1be2c8"}], "outcome": "PASSED", "data":
      {"ci_type": "ci-tps", "item": "setup-2.8.71-7.el7_4", "brew_task_id": 14258622,
      "brew_tag": "rhel-7.4-z-candidate", "testcase_url": "https://rpm-factory-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/test-package-sanity-development/label=ose-slave-tps,provision_arch=x86_64/",
      "component": "setup-2.8.71-7.el7_4", "tps_status": "PASSED", "arch": "x86_64",
      "build_type": "scratch", "tps_report": "https://rpm-factory-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/test-package-sanity-development/label=ose-slave-tps,provision_arch=x86_64/734//artifact/tps-next/reports/results.html"}}'
    headers:
      content-type: [application/json]
    method: POST
    uri: https://resultsdb.domain.local/api/v2.0/results
  response:
    body: {string: !!python/unicode "{\n  \"data\": {\n    \"arch\": [\n      \"x86_64\"\
        \n    ], \n    \"brew_tag\": [\n      \"rhel-7.4-z-candidate\"\n    ], \n\
        \    \"brew_task_id\": [\n      \"14258622\"\n    ], \n    \"build_type\"\
        : [\n      \"scratch\"\n    ], \n    \"ci_type\": [\n      \"ci-tps\"\n  \
        \  ], \n    \"component\": [\n      \"setup-2.8.71-7.el7_4\"\n    ], \n  \
        \  \"item\": [\n      \"setup-2.8.71-7.el7_4\"\n    ], \n    \"testcase_url\"\
        : [\n      \"https://rpm-factory-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/test-package-sanity-development/label=ose-slave-tps,provision_arch=x86_64/\"\
        \n    ], \n    \"tps_report\": [\n      \"https://rpm-factory-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/test-package-sanity-development/label=ose-slave-tps,provision_arch=x86_64/734//artifact/tps-next/reports/results.html\"\
        \n    ], \n    \"tps_status\": [\n      \"PASSED\"\n    ]\n  }, \n  \"groups\"\
        : [\n    \"ad9a50f4-d66a-4840-8441-7250af1be2c8\"\n  ], \n  \"href\": \"https://resultsdb-backend.host.dev.eng.pek2.redhat.com/api/v2.0/results/2107762\"\
        , \n  \"id\": 2107762, \n  \"note\": \"\", \n  \"outcome\": \"PASSED\", \n\
        \  \"ref_url\": \"https://rpm-factory-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/test-package-sanity-development/label=ose-slave-tps,provision_arch=x86_64/734/\"\
        , \n  \"submit_time\": \"2017-10-25T18:27:26.552734\", \n  \"testcase\": {\n\
        \    \"href\": \"https://resultsdb-backend.host.dev.eng.pek2.redhat.com/api/v2.0/testcases/rpm-factory.tps.update\"\
        , \n    \"name\": \"rpm-factory.tps.update\", \n    \"ref_url\": \"https://rpm-factory-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/test-package-sanity-development/label=ose-slave-tps,provision_arch=x86_64/\"\
        \n  }\n}"}
    headers:
      content-type: [application/json]
    status: {code: 201, message: CREATED}
[...]
